/* 
цвет основной     #212121; 
цвет вторичный    #757575;
цвет акцента      #2196F3;
белый цвет        #FFFFFF;

цвет фона         #FFFFFF;
вторич цвет фон   #F5F4FA;
цвет футтера      #2F303A;
*/

:root {
  --background-color: #ffffff;
  --main-color: #757575; /* основной цвет текста */
  --second-color: #212121; /* вторичный цвет текста (цвет заголовков) */
  --accent-color: #2196f3; /* цвет акцента  и основной цвет кнопки)   */
  --accent-botton: #188ce8; /* цвет акцента кнопки */
  --white-color: #ffffff;
  --background-footer-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
}
.list {
  list-style: none;
}

.logo span {
  color: var(--accent-color);
  font-size: 700;
}

/* nav */
.site-nav a {
  color: var(--second-color);
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus,
.contact a:hover,
.contact a:focus {
  color: var(--accent-color);
}

/* contact */
.contact a {
  text-decoration: none;
  color: var(--main-color);
}

.section h2,
.section h3 {
  color: var(--second-color);
}
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-botton);
}

.button:hover {
  background-color: #188ce8;
}

.footer {
  background-color: var(--background-footer-color);
}
.footer address {
  color: var(--white-color);
}

.footer-contact a {
  color: var(--footer-contact-color);
}
